doctype html
html(lang='en-GB')
  head
  base(href='/')
  meta(charset='utf-8')
  title Reset Password
  link(rel='stylesheet', href='/css/base.css')
  body
    main(id='main', role='main')
      block content
    script(src='js/vendor/angular.min.js')
    script(src='js/vendor/angular-route.min.js')
    script(src='js/app/constants.js')
    script(src='js/app/services.js')
    script(src='js/app/app.js')
    